@model IEnumerable<Week7_Lab.Models.Pin>

@{
    ViewBag.Title = "Index";
}

<h2>Movie Plots by Aaron</h2>


<div id="wrapper">
    <div id="columns" ng-controller="PinterestController as pinCtrl">
            <div class="pin" ng-repeat="pin in pins">
                <a ng-href="{{ pin.ImageLink }}"><img ng-src="{{ pin.ImageUrl }}" /></a>
                <p>
                    {{ pin.Note }}
                </p>
                <h5>{{ pin.WhoPinned.Email }}</h5>
            </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
